<div class="px-4 py-5 mb-5 text-center home-hero text-light">
    <h1 class="display-5 fw-bold">Welcome, {{currentUser.fullName}} </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Here you can create and manage your own recipe. We will provide you with reliable data. So you can make the best decision for your health while enjoying food.  </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a type="button" href="/recipe/create" class="btn btn-success btn-lg px-4 gap-3">Create Recipe</a>
            <a type="button" href="/recipe/list" class="text-light btn btn-outline-success btn-lg px-4">Explore Recipes</a>
        </div>
    </div>
</div>




<div class="container">


    <h2 class="text-center my-5">Your Recipes</h2>

    {{#unless myRecipesArr}}
    <p class="text-center">You don't have any recipe yet. Click on "Create Recipe" to add some</p>
    <br>
    <p class="text-center">Lacking inspiration? that's ok. You can also checkout recipes created by others and simply enjoy ;) </p>
    {{else}}
   
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         {{#each myRecipesArr }}
        <div class="col">
            <div class="card shadow-sm">
                <img src="{{this.imageUrl}}" alt="">
                <div class="card-body">
                    <h3>{{this.title}}</h3>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="/recipe/details/{{this._id}}" class="btn btn-sm btn-outline-success m-1">View</a>
                            <a href="/recipe/update/{{this._id}}" class="btn btn-sm btn-outline-primary m-1">Edit</a>
                            <form method="POST" action="/recipe/delete/{{this._id}}"><button
                                    class="btn btn-sm btn-outline-danger m-1" id="deletebtn" type="submit">Delete</button></form>
                        </div>
                        <small class="text-muted">{{this.totalTime}} mins</small>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
    {{/unless}}
</div>