<div class="px-4 py-5 mb-5 text-center home-hero text-light">
    <h1 class="display-5 fw-bold">Welcome, {{currentUser.fullName}} </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Lacus vel facilisis volutpat est. Volutpat consequat mauris nunc congue
            nisi vitae suscipit tellus mauris. Aliquet nibh praesent tristique magna sit amet purus. </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a type="button" href="/recipe/create" class="btn btn-success btn-lg px-4 gap-3">Create Recipe</a>
            <a type="button" href="#" class="btn btn-outline-success btn-lg px-4">Check our Recipes</a>
        </div>
    </div>
</div>




<div class="container">


    <h2 class="text-center my-5">My Recipes</h2>

    {{#each myRecipesArr }}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="{{this.imageUrl}}" alt="">
                <div class="card-body">
                    <h3>{{this.title}}</h3>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="/recipe/details/{{this._id}}" class="btn btn-sm btn-outline-secondary">View</a>
                            <a href="/recipe/update/{{this._id}}" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <form method="POST" action="/recipe/delete/{{this._id}}"><button
                                    class="btn btn-sm btn-outline-secondary" type="submit">Delete</button></form>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>



    </div>

    {{/each}}
</div>