<div class="container">
    <div class="row row-cols-1">
        <div class="col">
            <h1>{{searchedRecipe.title}}</h1>
            <p>Created by {{searchedRecipe.Owner.fullName}}</p>
        </div>
    </div>

    <div class="row row-cols-4">
        <div class="col">
            <p>Preparation Time</p>
            <h3>{{searchedRecipe.prepTime}}</h3>
        </div>
        <div class="col">
            <p>Cooking Time</p>
            <h3>{{searchedRecipe.cookTime}}</h3>
        </div>
        <div class="col">
            <p>Total Time</p>
            <h3>{{searchedRecipe.totalTime}} </h3>
        </div>
        <div class="col">
            <p>Serves</p>
            <h3>{{searchedRecipe.servings}}</h3>
        </div>
    </div>

    <div class="row row-cols-2">
        <div class="col">
            <h3> Ingredients</h3>
            {{#each searchedRecipe.Ingredients}}
            <ul>
                <li> {{this.name}}</li>
            </ul>
            {{/each}}
        </div>


        <div class="col">
            <h3> Information</h3>
            <canvas id="foodNutrients-chart">

            </canvas>
            <script>
                //  const data = {{{ json searchedRecipe.Ingredients }}};
                //console.log(data)

                const data = {
                    labels: ['Fat', 'Proteins', 'Sugar'],

                    datasets: [
                        {
                            data: [10, 5, 19]
                        }
                    ]
                };

                function printChart(dataToPrint) {
                    const ctx = document.getElementById("foodNutrients-chart").getContext("2d");

                    const chart = new Chart(ctx, {
                        type: "pie",
                        data: dataToPrint,
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: "top",
                                },
                                title: {
                                    display: true,
                                    text: "Nutrients",
                                },
                            },
                        },
                    });


                }

                document.addEventListener('DOMContentLoaded', () => {
                    // do stuff with data here
                    printChart(data);

                })

            </script>



            <h3> Instructions</h3>
            <p>{{searchedRecipe.instructions}}</p>
        </div>
    </div>

    {{#if currentUser}}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6 col-12 pb-4">
                    <h1>Comments</h1>

                    {{#if searchedRecipe.comments}}

                    {{#each searchedRecipe.comments}}

                    <div class="comment mt-4 text-justify float-left">
                        <img src="{{this.author.imageUrl}}" alt="" class="rounded-circle" width="40" height="40">
                        <h4>{{this.title}}</h4>
                        <p>{{this.author.fullName}}</p>
                        <span>{{this.date}} </span>
                        <br>
                        <p>{{this.content}}</p>
                    </div>

                    {{/each}}
                    {{/if}}
                </div>
                <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                    <form id="algin-form" action="/comment/recipe/{{searchedRecipe._id}}" method="post">
                        <div class="form-group">
                            <h4>Leave a comment</h4>
                            <label for="title">Title</label>
                            <input type=" text" name="title" id="title" />
                            <br>
                            <label for="content">Message</label>
                            <textarea name="content" id="content" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class=" form-group">
                            <button type="submit" class="btn btn-success">Post Comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {{/if}}


</div>