<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 ">
            <h1 class="text-center">Update recipe</h1>

            <form action="/recipe/update/{{recipeToUpdate._id}}" id="createForm" enctype="multipart/form-data" method="POST"
                class="row g-3">

                <div class="col-md-12">
                    <label for="inputTitle" class="form-label">Recipe name</label>
                    <input type="text" name="title" class="form-control" id="inputTitle"
                        value="{{recipeToUpdate.title}}" required>
                </div>
                
                <div class="col-md-12">
                    <label for="inputCuisine" class="form-label">Cuisine</label>
                    <input type="text" name="cuisine" class="form-control" id="inputCuisine"
                        value="{{recipeToUpdate.cuisine}}" required>
                </div>

                <div class="col-md-12">
                    <label for="InputPrepTime" class="form-label">Preparation Time (minutes)</label>
                    <input type="number" name="prepTime" class="form-control" id="inputPrepTime"
                        value="{{recipeToUpdate.prepTime}}" required>
                </div>

                <div class="col-md-12">
                    <label for="inputCookTime" class="form-label">Cooking Time (minutes)</label>
                    <input type="number" name="cookTime" class="form-control" id="inputCookTime"
                        value="{{recipeToUpdate.cookTime}}" required>
                </div>

                <div class="col-md-12">
                    <label for="inputServing" class="form-label">Servings</label>
                    <input type="number" name="servings" class="form-control" id="inputServing"
                        value="{{recipeToUpdate.servings}}" required>
                </div>

                <div class="col-md-12">
                    <label for="inputIngredients" class="form-label">Ingredients</label>
                    <div class="input-group">
                        
                        <input class="form-control" list="datalistOptions" name="inputIngredients" id="inputIngredients"
                        placeholder="Search for ingredients...">
                        <input type="button" class="input-group-text" id="add-ingredient-btn" value="+">
                    </div>
                    
                    <datalist id="datalistOptions">
                        {{#each ingredients}}
                        <option data-value="{{this.id}}" value="{{this.title}}"></option>
                        {{/each}}
                    </datalist>
                </div>

                <ul class="col-md-12" id="ingredientsData">
                    {{#each recipeToUpdate.Ingredients}}
                    <li class="ingredient"><input value="{{this.name}}"><input placeholder="quantity" type="number" value="{{this.quantity}}"><input hidden="true" class="item_id" value="{{this.id}}"><input hidden="true" class="ingredient_object_id" value="{{this._id}}"><button type="button" class="deleteIngredientBtn">-</button></li>
                    {{/each}}
                </ul>

                <div class="col-md-12">
                    <label for="instructions" class="form-label">Instructions</label>
                    <textarea name="instructions" cols="30" rows="4" class="form-control"
                        required> {{recipeToUpdate.instructions}} </textarea>
                </div>

                <div class="col-md-12">
                    <label for="image" class="form-label">Recipe image</label>
                    <input type="file" name="recipe-cover-image" class="form-control-file"
                        value="{{recipeToUpdate.imageUrl}} " />
                </div>

                <input name="Ingredients" id="inputIngredientsPair" hidden>

                <div class="col-12">
                    <button type="button" class="btn btn-success" id="create-recipe-btn">Update</button>
                </div>
            </form>

        </div>
    </div>
</div>
